.scroll-float-container {
    position: relative;
    display: block;
    padding: 0.1em 0;
}

.scroll-float-text {
    display: block;
    will-change: transform, opacity;
}

.scroll-float-text .scroll-char {
    display: inline-block;
    will-change: transform, opacity;
}