.scroll-float-container {
    overflow: hidden;
    position: relative;
    display: block;
    padding: 0.2em 0;
    margin: -0.2em 0;
}

.scroll-float-text {
    display: inline-block;
    will-change: transform, opacity;
}

.scroll-float-text span {
    display: inline-block;
    white-space: pre;
    will-change: transform, opacity;
}